<div class="card persona {{ class }}"}>
	<img class='persona__image' src={{ imgUrl }} alt={{ name }} />	
	<Heading class='persona__name' type='h3'>{{ name }}</Heading>	
	<Text class='persona__role'>{{ role }}</Text>
	<Text class='persona__description'>{{ description }}</Text>
</div>